doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Minimum webpack-pug setup
    //- add scripts in the head section
    //- with the defer attribute the script will be loaded after the last line in the body
    script(src=require('js/headScript.js') defer) 
  body 
    //- or at the bottom of the body
    script(src=require('js/bodyScript.js')) 